:root {
    --font-color: #585958;    
    --body-bg-color: #f2f2f2;
    --font-dark: #282929;
    --wrapper-bg-color: #fff;
    --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    --transition-time: .3s;   
}

* {    
    color: var(--font-color);
}

body {
    background-color: var(--body-bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

h2 {    
    font-size: 3rem;
    margin-bottom: 1rem;
}

h4 {
    margin-bottom: 1rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

#quiz-container {
    width: 650px; 
    display: flex;
    flex-direction: column;     
    padding: 2rem;
}

.center {
    text-align: center;
}

.start {
    margin: 0 auto;    
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;        
}

#quiz-container li {    
    margin-bottom: .5rem;    
    padding: .5rem;    
    
    border-radius: 5px;
}

.question {
    background-color: #ff9c60;        
}

.question:hover {
    background-color: #ffd6b8;
}

#quiz-container li:hover {    
    cursor: pointer;
}

#list-container {
    display: flex;   
}
.feedback-container {
    border-top: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.feedback {
    padding: .5rem;
    font-style: italic;
    font-size: 1.5rem;    
}

.button {
    transition: 0.2s;
    margin-bottom: .5rem;    
    padding: .5rem;       
    background-color: #ff9c60;   
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;    
    box-shadow: var(--box-shadow);
    cursor: pointer;    
}

.button:hover {    
    transition: 0.2s;
    cursor: pointer;
    background-color: #ffd6b8;
}

.button:active {
    transition: 0.2s;
    transform: translate(0,1px) ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.correct {
    background-color: #1fc5a8;
}

.incorrect {
    background-color: #e5383b;
    color: white;                
}

.disabled {    
    pointer-events: none;    
}

.button.start {    
    background-color: #1fc5a8;
    margin-top: 1rem;
    color: var(--body-bg-color);
}

.button.start:hover {
    background-color: #2ed3b7;    
    
}

@media screen and (max-width: 500px) {  
    html {
        font-size: 80%;
    }
    main {
        padding-top: 1rem;
    }
}